body {
    background: linear-gradient(#FFF8E1 0%, #1A237E 100%);
    background-repeat: no repeat;
    text-align: center;
}

img {
    width: 350px;
    border-radius: 5%
}

h1 {
    padding-top: 75px;
    text-shadow: 2px 2px #BDAA00;
    font-size: 30px;
    font-family: 'Limelight', cursive;
}


#bio {
    padding: 50px;
    font-size: 18;
    color: black;
}

.line {
    background-color: aliceblue;
    height: 6px;
    width: 70px;
    margin: 8px auto;
}

.menu {
    list-style: none;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;

}

.links {
    float: left;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-family: 'Limelight', cursive;

}

.links:hover {
    background-color: #BDAA00;
}

h2 {
    font-family: 'Limelight', cursive;
}

h3 {
    font-family: 'Limelight', cursive;
}

#favoritecharacter {
    color: white;
}

#otherworks {
    color: white;
}

#inspiration {
    color: white;
}

#contact {
    color: white;
}

a {

    color: black;
}


img {
    transition: transform 0.2s;
}

img:hover {
    transform: scale(0.9);
}

#myinspiration {
    width: 100%;
    color: white;
}

inspoarticle {
    text-decoration: underline;
    color: white;
}

html {
    scroll-behavior: smooth;
}
