body {
    background: linear-gradient(#FFF8E1 0%, #1A237E 100%);
    background-repeat: no repeat;
    text-align: center;
    margin: 0;
}

img {
    width: 350px;
    border-radius: 5%
}

h1 {
    padding-top: 75px;
    text-shadow: 2px 2px #BDAA00;
    font-size: 30px;
    font-family: 'Limelight', cursive;
}


#bio {
    padding: 50px;
    font-size: 18;
    color: black;
}

.line {
    background-color: aliceblue;
    height: 6px;
    width: 70px;
    margin: 8px auto;
}

.menu {
    list-style: none;
    position: fixed;
    z-index: 10;
    cursor: pointer;
    color: white;
    width: 100%;
    top: 0px;
    margin-top: 0px;
    padding-left: 150px;
    background: black;
    
}

.links {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
}



.links:hover {
    background-color: #BDAA00; 
    color: black;
    font-size:25px;
}

h2 {
    font-family: 'Limelight', cursive;
}

h3 {
    font-family: 'Limelight', cursive;
}

#favoritecharacter {
    color: white;
}

#otherworks {
    color: white;
}

#inspiration {
    color: white;
}

#contact {
    color: white;
}

a {
    color: white;
}

#tts {
    transition: transform 0.2s;
}

#tts:hover {
    transform: scale(0.9);
}

#myinspiration {
    width: 100%;
    color: white;
}

#inspoarticle {
    text-decoration: underline !important;
    color: white;
}

html {
    scroll-behavior: smooth;
}

#contact iframe {
    width: 100%;
}

.contact_1 a {
    color: goldenrod;
    text-shadow: none;
    
}

.contact_1 h3 {
    display: inline;
    color: goldenrod;
}

a{
    text-decoration: none;
}

